.slideshow-container {
    max-width: 800px;
    margin: auto;
}

.mapping-slideshow-container {
    max-width: 800px;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
    padding: 20px;
}

.open-mapping-slide {
    display: none;
    text-align: center;
    padding: 20px;
}

.slide-geoviz {
    display: none;
    text-align: center;
    padding: 20px;
}

.slide-3d {
    display: none;
    text-align: center;
    padding: 20px;
}

.slide h2 {
    color: #824027;
    margin-bottom: 10px;
}

.open-mapping-slide h2 {
    color: #824027;
    margin-bottom: 10px;
}

.slide p {
    margin-bottom: 20px;
}

.open-mapping-slide p {
    margin-bottom: 20px;
}

.slide a {
    color: #824027;
}

.open-mapping-slide a {
    color: #824027;
}

.navigation-arrows {
    text-align: center;
    margin-top: 20px;
}

.prev,
.next {
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.prev {
    margin-right: 20px;
}

.prev:hover,
.next:hover {
    color: #824027;
}

.read-more {
    display: inline-block;
    background-color: #824027;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #6d3522; /* Darker color on hover */
}

.read-more a {
    color: white;
    font-size: small;
}

